<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="demo" class="com.xsyx.vo.system.Demo"/>

    <!-- 自动扫描  需要spring管理的包 -->
    <context:component-scan base-package="com.xsyx">
        <!-- 指定不扫描得注解-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 初始化数据源对象；DruidDataSource -->
    <bean id="druiddataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <!-- 与数据库建立连接的基本信息 -->
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://rm-bp129kht956qdlh5b125010ym.mysql.rds.aliyuncs.com:3306/xsyx?serverTimezone=UTC&amp;characterEncoding=utf8&amp;useSSL=false"/>
        <property name="username" value="xiaoli"/>
        <property name="password" value="abc@123456"/>
        <!-- 关于数据库连接池的基本信息 -->
        <property name="maxActive" value="50"/>
        <property name="initialSize" value="5"/>
        <property name="minIdle" value="1"/>
        <property name="maxWait" value="60000"/>
    </bean>

    <!-- 配置SqlSessionFactory的bean-->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="druiddataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>

    <!-- 配置mybatis接口的代理对象bean  -->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.xsyx.dao"/>
    </bean>


</beans>